/*FONT-FACES*/

@font-face {
    font-family: 'Mister Pixel';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MP16REG.woff') format('woff');
}

@font-face {
  font-family: 'Mister Pixel ToolsOne';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MP16TO1.woff') format('woff');
}

/*GENERAL*/

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
}

/*ABOUT PAGE*/
.howto {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*DIVS*/
/*
div.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}*/

div.flexcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

div.flexbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: blue;
}

div.flexboxgif {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  position: absolute;
}

.flexitem {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 20px;
}
.picturesent {
  padding-top: 8vh; 
  background-color: #0000ff;
}

.allpictures {
  padding-top: 8vh; 
  background-color: #00ff00;
  width: 100%;
  height: 100%;
}


div.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10vw;
}

/*MARQUEES*/
.marquee {
    position: fixed;
    background-color: #000;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    /*padding: 1.5vh;*/
    height: auto;
    display: block;
    font-size: 4vh;
    color: #0F0;
    z-index: 50;
}

.high {
    top: 6.5vh;
}

.middle {
    top: 15.5vh;
}

.low {
    bottom: 20vh;
}

.tickertext {
  display: inline-block;
  white-space: nowrap;
  padding: 0px 15px;
  color: white;
  min-width: 16vw;
  text-align: center;
}

/*
.timer {
  display: inline-block;
  min-width: 16vw;
  padding: 0px 10px;
  text-align: center;
  color: #0F0
}*/

/*IMAGES*/
img.gif {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}

img.loading {
  height: 250px;
  width: 250px;
  margin-bottom: 30px;
}

/*CHECKBOX*/
.check {
  height: 30px;
  width: 30px;
}


/*TYPE*/

body {
  font-family: 'Mister Pixel', sans-serif;
  color: #FFF;
  font-size: 10vh;
  line-height: 1;
  margin: 0;
  /*font-size: 20vh;*/
}

.title {
  font-size: 10vw;
  line-height: 0;
  font-family: 'Mister Pixel';
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  line-height: 1.5;
  font-size: 12vw;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
}

h2 {
  line-height: 1.2;
  font-size: 7vh;
  letter-spacing: 1px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;

}

h3 {
  line-height: 1.2;
  font-size: 6vw;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 1.2;
  padding: 2vw;
  margin: 0;
  font-size: 5vw;
}
